# Python stuff
__pycache__/

# Environment files
.env

# SQLite database
*.sqlite3

# Logs
*.log

# OS/IDE files
.DS_Store
.vscode/
.idea/

# Django static/media (if generated locally)
staticfiles/
media/