DJANGO_SECRET_KEY=
DJANGO_DEBUG=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=
ALLOWED_HOSTS=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=
CELERY_BROKER_URL=
EMAIL_BACKEND=
CHAT_BROKER_URL=